body {
	background-color: #000;
	color: #fff;
	font-family: Arial, sans-serif;
}

.close-button {
	cursor: pointer;
	height: 24px;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 24px;
}

.copy-button {
	background-color: #FF6CA8;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	display: block;
	margin-bottom: 10px;
	margin-top: 20px;
	padding: 10px 20px;
	transition: background-color 0.3s ease;
}

.copy-button:hover {
	background-color: #E65C9F;
}

.dialog {
	background-color: #000;
	border: 5px solid #FF6CA8;
	padding: 20px;
	position: fixed;
	top: 50%;
	transform: translate(0%, -50%);
	z-index: 1000;
}

.dialog-image {
	display: block;
	height: auto;
	margin: 0 auto 50px;
	max-width: 100%;
}

figcaption {
	font-size: 14px;
	margin-top: 5px;
	text-align: center;
}

.hidden {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

#catalogue {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
}

img {
	border: 5px solid transparent;
	cursor: pointer;
	height: 200px;
	margin: 20px;
	object-fit: cover;
	transition: border-color 0.3s ease-in-out;
	width: 300px;
}

img:hover {
	border-color: #FF6CA8;
}

.visible {
	opacity: 1;
}

h1 {
	color: #FF6CA8;
	margin-top: 50px;
	text-align: center;
}